<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-game-round-heading" data-cy="GameRoundCreateUpdateHeading" jhiTranslate="moviebattleApp.gameRound.home.createOrEditLabel">
        Create or edit a Game Round
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="moviebattleApp.gameRound.userChoice" for="field_userChoice">User Choice</label>
          <select class="form-control" name="userChoice" formControlName="userChoice" id="field_userChoice" data-cy="userChoice">
            <option [ngValue]="null">{{ 'moviebattleApp.Choice.null' | translate }}</option>
            <option *ngFor="let choice of choiceValues" [value]="choice">{{ 'moviebattleApp.Choice.' + choice | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="moviebattleApp.gameRound.correct" for="field_correct">Correct</label>
          <input type="checkbox" class="form-check" name="correct" id="field_correct" data-cy="correct" formControlName="correct" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="moviebattleApp.gameRound.gameSessionId" for="field_gameSessionId">Game Session Id</label>
          <select
            class="form-control"
            id="field_gameSessionId"
            data-cy="gameSessionId"
            name="gameSessionId"
            formControlName="gameSessionId"
            [compareWith]="compareGameSession"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="gameSessionOption" *ngFor="let gameSessionOption of gameSessionsSharedCollection">
              {{ gameSessionOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="moviebattleApp.gameRound.left" for="field_left">Left</label>
          <select class="form-control" id="field_left" data-cy="left" name="left" formControlName="left" [compareWith]="compareMovie">
            <option [ngValue]="null"></option>
            <option [ngValue]="movieOption" *ngFor="let movieOption of moviesSharedCollection">{{ movieOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="moviebattleApp.gameRound.right" for="field_right">Right</label>
          <select class="form-control" id="field_right" data-cy="right" name="right" formControlName="right" [compareWith]="compareMovie">
            <option [ngValue]="null"></option>
            <option [ngValue]="movieOption" *ngFor="let movieOption of moviesSharedCollection">{{ movieOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
