<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="gameRound">
      <h2 data-cy="gameRoundDetailsHeading"><span jhiTranslate="moviebattleApp.gameRound.detail.title">Game Round</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ gameRound.id }}</span>
        </dd>
        <dt><span jhiTranslate="moviebattleApp.gameRound.userChoice">User Choice</span></dt>
        <dd>
          <span jhiTranslate="{{ 'moviebattleApp.Choice.' + gameRound.userChoice }}">{{ gameRound.userChoice }}</span>
        </dd>
        <dt><span jhiTranslate="moviebattleApp.gameRound.correct">Correct</span></dt>
        <dd>
          <span>{{ gameRound.correct }}</span>
        </dd>
        <dt><span jhiTranslate="moviebattleApp.gameRound.gameSessionId">Game Session Id</span></dt>
        <dd>
          <div *ngIf="gameRound.gameSessionId">
            <a [routerLink]="['/game-session', gameRound.gameSessionId.id, 'view']">{{ gameRound.gameSessionId.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/game-round', gameRound.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
