<div>
  <h2 id="page-heading" data-cy="MovieHeading">
    <span jhiTranslate="moviebattleApp.movie.home.title">Movies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="moviebattleApp.movie.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-movie"
        [routerLink]="['/movie/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="moviebattleApp.movie.home.createLabel"> Create a new Movie </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="movies?.length === 0">
    <span jhiTranslate="moviebattleApp.movie.home.notFound">No Movies found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="movies && movies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="imdbId">
            <div class="d-flex">
              <span jhiTranslate="moviebattleApp.movie.imdbId">Imdb Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="moviebattleApp.movie.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="imdbRating">
            <div class="d-flex">
              <span jhiTranslate="moviebattleApp.movie.imdbRating">Imdb Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="imdbVotes">
            <div class="d-flex">
              <span jhiTranslate="moviebattleApp.movie.imdbVotes">Imdb Votes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="score">
            <div class="d-flex">
              <span jhiTranslate="moviebattleApp.movie.score">Score</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="right.id">
            <div class="d-flex">
              <span jhiTranslate="moviebattleApp.movie.right">Right</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="left.id">
            <div class="d-flex">
              <span jhiTranslate="moviebattleApp.movie.left">Left</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/movie', movie.id, 'view']">{{ movie.id }}</a>
          </td>
          <td>{{ movie.imdbId }}</td>
          <td>{{ movie.title }}</td>
          <td>{{ movie.imdbRating }}</td>
          <td>{{ movie.imdbVotes }}</td>
          <td>{{ movie.score }}</td>
          <td>
            <span *ngFor="let right of movie.rights; let last = last">
              <a class="form-control-static" [routerLink]="['/game-round', right.id, 'view']">{{ right.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let left of movie.lefts; let last = last">
              <a class="form-control-static" [routerLink]="['/game-round', left.id, 'view']">{{ left.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/movie', movie.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/movie', movie.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(movie)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
